@font-face { font-family: 'gotham-black'; src: url(../font/gotham-black.ttf); }
@font-face { font-family: 'gotham-book'; src: url(../font/gotham-book.ttf); }

body { 
	color: white;
	font-family: 'gotham-book', sans-serif;
	background: url('../img/marcella-arguello-cropped-dark.jpeg') no-repeat bottom center fixed; 
	background-size: cover;
	background-color: #1A1A1A;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

h1 { 
	padding-top: 80px; 
}

h2 {
	font-family: 'gotham-black', sans-serif;
	color: #f9a01b;
	text-transform: uppercase;
	font-size: 46px;
}

h3 {
	color: white;
	margin-top: 16px;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -1px;
}

h4 {
	color: #f9a01b;
	font-family: 'gotham-black', sans-serif;
	padding-top: 1em;
}

footer { background-color: #0a0a0a; }

.full-height { min-height: 100vh; max-height: 1080px;}
.dark-background  { background-color: #262626; }

.color-red 		{ color:#f04c23; }
.color-blue		{ color:#13818d; }
.color-orange	{ color:#f9a11b; }
.color-green	{ color:#6d8e3b; }
.color-offwhite	{ color:#ffe9a3; }

.icon { height: auto; width: 100%; max-width: 180px; }

.modal { color: #212529; text-shadow: none; }

.btn-primary { background-color: #15808c; border-color: #15808c;}
.btn-primary:hover, .btn-primary:active, .btn-primary:active:focus { background-color: #116a73 !important; border-color: #116a73 !important}

.container { margin-bottom: 125px; }

.oob.navbar { font-size: 1.25em; text-transform: uppercase; font-weight: 800; padding: 0;}
.bg-dark { background-color: #0a0a0a; }
.oob .navbar-brand { padding: 0; margin: 0 1.25em; }
.oob .navbar-toggler { margin-right: 1em; }
.oob .navbar-collapse { flex-grow: 0; }
a { color: white; text-shadow: 2px 2px 0px rgba(0,0,0,0.2); }
a:hover 	{ color: white; }
a:focus 	{ color: white; }
a.fa:hover 	{text-decoration: none; }
.navbar-expand-md .navbar-nav .nav-link { padding: 1.25em; }
.blue 	{ background-color: #12808D; }	.blue:hover 	{ background-color: #094249; }
.red	{ background-color: #F04B22; }	.red:hover		{ background-color: #b92f0d; }
.yellow	{ background-color: #F89F1C; }	.yellow:hover	{ background-color: #c27606; }
.green	{ background-color: #6C8D3B; }	.green:hover	{ background-color: #435724; }

a.nav-link.underline-on-hover:hover { text-decoration: underline; }