doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/custom.css")
		title OoBleck
		script(src='js/jquery.min.js')
		script(src='https://use.fontawesome.com/66f808d981.js')
		script(src='https://www.google.com/recaptcha/api.js')
	body
		nav.oob.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.oob-navbar.justify-content-between
			a.navbar-brand(href="#")
				img(alt="Out of Bounds Comedy Festival" src="img/logo-no-text.png" width="133px" height="auto")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-content")
				span.navbar-toggler-icon
			#navbar-content.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.oob-nav
					li.nav-item.blue
						a.nav-link(href="#") Apply
					li.nav-item.red
						a.nav-link(href="#") About
					li.nav-item.yellow
						a.nav-link(href="#") Blog
					li.nav-item.green
						a.nav-link(href="#") Get Festival Pass
		main
			.container

		footer.navbar.fixed-bottom.navbar-expand-lg.navbar-dark.bg-dark.justify-content-between
			#footer-menu.collapse.navbar-collapse
				ul.navbar-nav.form-inline
					li.nav-item
						a.btn.btn-sm.btn-secondary.m-2(href="http://www.facebook.com/oobfest")
							span.fa.fa-facebook-official.fa-lg
							span.footer-link-text &nbsp; Facebook
					li.nav-item 
						a.btn.btn-sm.btn-secondary.m-2(href="http://www.twitter.com/oobfest")
							span.fa.fa-twitter-square.fa-lg
							span.footer-link-text &nbsp; Twitter
					li.nav-item
						a.btn.btn-sm.btn-secondary.m-2(href="http://www.instagram.com/oobfest")
							span.fa.fa-instagram.fa-lg
							span.footer-link-text &nbsp; Instagram
					li.nav-item
						a.btn.btn-sm.btn-secondary.m-2(href="https://www.flickr.com/photos/oob_pics")
							span.fa.fa-flickr.fa-lg
							span.footer-link-text &nbsp; Flickr
					li.nav-item
						a.btn.btn-sm.btn-secondary.m-2(href="https://github.com/oobfest")
							span.fa.fa-github-square.fa-lg
							span.footer-link-text &nbsp; GitHub
			button.navbar-toggler(data-toggle="collapse" data-target="#footer-menu")
				span.navbar-toggler-icon
			span.navbar-text.pull-right
				a.nav-link.underline-on-hover(href="#" data-toggle="modal" data-target="#contact-modal") Contact

		#contact-modal.modal
			.modal-dialog.modal-dialog-centered
				form#contact-form.modal-content
					.modal-header
						h5.modal-title Contact
						button.close(data-dismiss="modal")
							span &times;
					.modal-body
						.form-group
							label.col-form-label(for="contact-name") Full Name
							input#contact-name.form-control(type="text" name="name" required)
						.form-group
							label.col-form-label(for="contact-email") Email
							input#contact-email.form-control(type="email" name="email" required)
						.form-group
							label.col-form-label(for="contact-subject") Subject
							input#contact-subject.form-control(type="text" name="subject")
						.form-group
							label.col-form-label(for="contact-message") Message
							textarea#contact-message.form-control(name="message" required)
						.g-recaptcha(data-sitekey="6LfAnkIUAAAAAJYFRNJnZCGuxXGXHP5OoBIl_TOx")
					.modal-footer
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
						button#send-message.btn.btn-primary(type="button") Send

		script(src="js/popper.min.js")
		script(src="js/bootstrap.min.js")
		script.

			// Click "send messgage"
			$("#send-message").click(function() {
				
				// Get form data
				var contactFormData = $('#contact-form').serialize()

				// Close modal
				$("#contact-modal").modal('hide')

				// Reset form
				$("#contact-form")[0].reset()

				// POST message to server
				$.post('app.oobfest.com/contact', contactFormData, function(response) {
					alert("Message sent!")
					console.log(response)
				}, 'json')
			})