doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/custom.css")
		title Out of Bounds Comedy Festival | Labor Day Weekend
		script(src='js/jquery.min.js')
		script(src='https://use.fontawesome.com/66f808d981.js')
		script(src='https://www.google.com/recaptcha/api.js')
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-114369938-1")
		script.
			window.dataLayer = window.dataLayer || []
			function gtag(){dataLayer.push(arguments)}
			gtag('js', new Date())
			gtag('config', 'UA-114369938-1')

	body
		// nav.oob.navbar.navbar-expand-md.navbar-dark.fixed-top.oob-navbar.justify-content-between
			a.navbar-brand(href="#")
				img(alt="Out of Bounds Comedy Festival" src="img/logo-no-text.png" width="133px" height="auto")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-content")
				span.navbar-toggler-icon
			#navbar-content.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.oob-nav
					li.nav-item.red
						a.nav-link(href="#") Get Festival Pass
					li.nav-item.blue
						a.nav-link(href="#") About
					li.nav-item.yellow
						a.nav-link(href="#") Blog
					li.nav-item.green
						a.nav-link(href="http://apply.oobfest.com/") Apply
		main
			.container-fluid
				.row.full-height
					.col.text-center
						h1
							img.mx-auto.d-block(src="img/logo.png" style="max-width:100%" alt="Out of Bounds Comedy Festival")
						h3 Labor Day Weekend, August 28th to September 3rd in Austin, Texas
						h2 Now Accepting Submissions
						a.btn.btn-lg.btn-primary.m-3(href="http://apply.oobfest.com/") Apply Now
						p.mt-1
							a(href="#learn-more") Learn More 
				.row.justify-content-center.dark-background.mt-3.pb-4(id="learn-more")
					.col-md-6.text-center.m-3
						h4 What is Out of Bounds?
						p The  
							strong Out of Bounds Comedy Festival (OoB)  
							| is a live performance festival that showcases the best in improv, sketch and standup. OoB is Austin's longest-running comedy festival and 
							em the largest multi-disciplinary comedy festival in the south
							| .
				//.row.text-center.dark-background
					.col
						h3 Last Year's Stats
				.row.text-center.dark-background.pb-4.justify-content-center
					.col-md-2
						img.icon(src="img/icon-sketch.png")
						h4.color-blue 500+ Performers
					.col-md-2
						img.icon(src="img/icon-standup.png")
						h4.color-red 130 Acts
					.col-md-2
						img.icon(src="img/icon-improv.png")
						h4.color-orange 10 Stages
					.col-md-2
						img.icon(src="img/icon-variety.png")
						h4.color-green 7 Days

				.row.text-center.dark-background.pb-4.justify-content-center
					.col-md-6
						h4 Out of Bounds is a Certified 501(c)(3) Nonprofit
						p Our mission is to bring world-wide attention to the Austin comedy community by featuring improv, sketch, podcasts, musical, variety and stand-up, strengthening performer networks, providing educational opportunities to our talent and stimulating both Austin tourism and industry interest.

			footer
				.navbar.navbar-expand-md.justify-content-between.navbar-dark
					#footer-menu.collapse.navbar-collapse
						ul.navbar-nav.form-inline
							li.nav-item
								a.m-2(href="http://www.facebook.com/oobfest")
									span.fa.fa-facebook-official.fa-lg
									span.footer-link-text  Facebook
								span.d-none.d-md-inline |
							li.nav-item 
								a.m-2(href="http://www.twitter.com/oobfest")
									span.fa.fa-twitter-square.fa-lg
									span.footer-link-text  Twitter
								span.d-none.d-md-inline |
							li.nav-item
								a.m-2(href="http://www.instagram.com/oobfest")
									span.fa.fa-instagram.fa-lg
									span.footer-link-text  Instagram
								span.d-none.d-md-inline |
							li.nav-item
								a.m-2(href="https://www.flickr.com/photos/oob_pics")
									span.fa.fa-flickr.fa-lg
									span.footer-link-text  Flickr
								span.d-none.d-md-inline |
							li.nav-item
								a.m-2(href="https://github.com/oobfest")
									span.fa.fa-github-square.fa-lg
									span.footer-link-text  GitHub
					button.navbar-toggler(data-toggle="collapse" data-target="#footer-menu")
						span.navbar-toggler-icon
					span.navbar-text.pull-right
						a.nav-link.underline-on-hover(href="#" data-toggle="modal" data-target="#contact-modal")
							span.fa.fa-envelope.fa-lg
							span.footer-link-text  Contact

		#contact-modal.modal
			.modal-dialog.modal-dialog-centered
				form#contact-form.modal-content
					.modal-header
						h5.modal-title Contact
						button.close(data-dismiss="modal")
							span &times;
					.modal-body
						.form-group
							label.col-form-label(for="contact-name") Full Name
							input#contact-name.form-control(type="text" name="name" required)
						.form-group
							label.col-form-label(for="contact-email") Email
							input#contact-email.form-control(type="email" name="email" required)
						.form-group
							label.col-form-label(for="contact-subject") Subject
							input#contact-subject.form-control(type="text" name="subject")
						.form-group
							label.col-form-label(for="contact-message") Message
							textarea#contact-message.form-control(name="message" required)
						.g-recaptcha(data-sitekey="6LfAnkIUAAAAAJYFRNJnZCGuxXGXHP5OoBIl_TOx")
					.modal-footer
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
						button#send-message.btn.btn-primary(type="button") Send

		script(src="js/popper.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/smooth-scrolling.js")
		script.

			// Click "send message"
			$("#send-message").click(function() {
				
				// Get form data
				var contactFormData = $('#contact-form').serialize()

				// Close modal
				$("#contact-modal").modal('hide')

				// Reset form
				$("#contact-form")[0].reset()

				// POST message to server
				$.post('http://app.oobfest.com/contact', contactFormData, function(response) {
					alert("Message sent!")
					console.log(response)
				}, 'json')
			})
