 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body { 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
	color: #FCEAA2;
	font-weight: 400;
	text-shadow: 0 1px 4px rgba(0,0,0,0.1);
	background-color: #242524; 
}

h1 { 
	color: #F89F1C; 
	font-weight: 800;
}